<!DOCTYPE html>
<html>
  <head>
    <title>MembersOnly</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if flash[:notice] %>
  		<div class="notification is-primary global-notification m-0">
  			<p class="notice m-0"><%= notice %></p>
  		</div>
  	<% end %>

      <nav class='navbar is-info m-0 p-0'>
        <h5 class='navbar-brand is-size-3 mt-2 ml-2'><%= link_to 'Members Only', root_path, class: "has-text-white" %></h5>
        <div class='navbar-end'>
          <% if user_signed_in? %>
            <p class="control">
              <%= link_to current_user.username, edit_user_registration_path, class: "button is-info mt-2 mr-2" %>
            </p>
            <p> 
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button is-info mt-2 mr-2" %>
            </p>
          <% else %>
	          <p class="control">
              <%= link_to 'Sign Up', new_user_registration_path, class: "button is-info is-inverted my-2 mr-2" %>
            </p>
            <p class="control">
              <%= link_to 'Sign In', new_user_session_path, class: "button is-info is-inverted my-2 mr-2" %>
            </p>
          <% end %>
          </div>

      </nav>
      <%= yield %>
  </body>
</html>
